


<article class="slider col-lg-12 col-xs-12 col-md-12 col-sm-12" v-if="embed_slider"> 
  <div class="sliderimg col-lg-12 col-xs-12 col-md-12 col-sm-12"><!--str slider img -->
<img class="mySlides w3-animate-fading w3-animate-left" src="A Sense Of Summer (70).JPG" style="width:100%">
  <img class="mySlides w3-animate-fading w3-animate-left"  src="A Sense Of Summer (72).jpg" style="width:100%">
  <img class="mySlides w3-animate-fading w3-animate-left" src="A Sense Of Summer (73).jpg" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    
  </div>
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
</div>
</article>





<link rel="stylesheet" href="w3.css">


<script  src="w3js.js"> </script>