<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div align="center">
  <!-- Begin DWUser_EasyRotator -->
<script src="jqueryslider.js"></script>
<div class="dwuserEasyRotator" style="width: 1200px; height: 400px; position:relative; text-align: left;" data-erconfig="{autoplayEnabled:true, randomize:true, autoplayDelay:2500, autoplayGalleryLoop:true, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-97-109-114-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47', wv:1}" data-ername="vago"   data-ertid="{b2js4jhkb9799880501441}">
  <div data-ertype="content" style="display: none;">
    <ul data-erlabel="Main Category">
      <li> <img class="main" src="front/template/slider/A Sense Of Summer (68).jpg" /> <img class="thumb" src="A Sense Of Summer (68).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (69).jpg" /> <img class="thumb" src="A Sense Of Summer (69).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (70).JPG" /> <img class="thumb" src="A Sense Of Summer (70).JPG" /> </li>
      <li> <img class="main" src="A Sense Of Summer (71).jpg" /> <img class="thumb" src="A Sense Of Summer (71).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (72).jpg" /> <img class="thumb" src="A Sense Of Summer (72).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (73).jpg" /> <img class="thumb" src="A Sense Of Summer (73).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (74).jpg" /> <img class="thumb" src="A Sense Of Summer (74).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (75).jpg" /> <img class="thumb" src="A Sense Of Summer (75).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (76).jpg" /> <img class="thumb" src="A Sense Of Summer (76).jpg" /> </li>
      <li> <img class="main" src="A Sense Of Summer (77).jpg" /> <img class="thumb" src="A Sense Of Summer (77).jpg" /> </li>
    </ul>
  </div>
  <div data-ertype="layout" data-ertemplatename="NONE" style="">
    <div class="ercats erFixCSS3" style="position:absolute; left:0; right: 0; top: 0;" style_real="padding: 4px 8px; font-family: 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, _sans; font-size: 11px; color: #333; wasmargin: 0 50px 10px 50px; wasborder-radius: 6px; wasbackground-color: #EEE; wasborder: 1px solid #E0E0E0; overflow: hidden;">
      <!-- <div style="float: left; padding: 6px 18px 3px 0; font-weight: bold;">Title text!</div> -->
      <div class="ercats_btn_selected erFixCSS3" style_real="float: left; padding: 3px 8px 4px 8px; border-radius: 4px; background-color: #FFF; box-shadow: 0 0 2px #999; wasborder: 1px solid #CFCFCF; color: #555555; margin: 3px 9px 3px 0; cursor: default;"> Title1 </div>
      <div class="ercats_btn_normal erFixCSS3" style_real="float: left; padding: 3px 8px 4px 8px; border-radius: 4px; color: #666666; cursor: pointer; margin: 3px 9px 3px 0;"> Title2 </div>
    </div>
    <div class="erimgMain" style="position: absolute; left:0;right:0;top:40px;bottom:70px;" data-erconfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', __loopNextButton:false, arrowButtonMode:'rollover'}">
      <div class="erimgMain_slides" style="position: absolute; left:0px; top:0; bottom:0; right:0px;">
        <div class="erimgMain_slide">
          <div class="erimgMain_img" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;"></div>
          <div class="erhideWhenNoText" style="background: #000; background: rgba(0,0,0,0.85); position: absolute; left: 0; right: 0; bottom: 0; padding: 5px; color: #FFF; font-family: Arial; font-size: 12px;">
            <p class="erimgMain_title" style="padding: 0; margin: 0 0 3px 0; font-weight: bold;"></p>
            <p class="erimgMain_desc" style="padding: 0 0 10px 0; margin: 0;"></p>
          </div>
        </div>
      </div>
      <div class="erimgMain_arrowLeft" style="position:absolute; left: 10px; top: 50%; margin-top: -15px;" data-erconfig="{image:'circleSmall', image2:'circleSmall'}"></div>
      <div class="erimgMain_arrowRight" style="position:absolute; right: 10px; top: 50%; margin-top: -15px;"></div>
    </div>
    <div class="erimgMain rotatorTileNav" style="position: absolute; left:0;right:0;bottom:0;height:80px;" data-erconfig="{numTiles:-1, scaleMode:'fillArea', imgType:'thumb', loopNextButton:false, arrowButtonMode:'rollover', __slideLinkEvent:'rollover'}">
      <div style="position: absolute; left: 0; top: 10px; right: 0; bottom: 0; background: #FFF;"></div>
      <div class="erimgMain_slides" style="position: absolute; left:0px; top:0; bottom:0; right:0px;">
        <div class="erimgMain_slide">
          <div class="erimgMain_img" style="position: absolute; left: 0; right: 0; top: 10px; bottom: 0; margin: 2px 1px;"></div>
          <!-- <div class="" style="background: #555; position: absolute; left: 1px; right: 1px; top: 10px; bottom: 0; padding: 5px; color: #FFF; font-family: Arial; font-size: 12px; text-align: center;">
							<p class="erimgMain_title" style="padding: 5px; margin: 0 0 3px 0; font-weight: bold;"></p>
						</div> -->
          <div class="selectionArrow visibleWhenSelected" style="position: absolute; top: 0; left: 50%; margin-left: -10px; width: 20px; height: 10px; background-image: url('http://easyrotator.s3.amazonaws.com/1/i/rotator/FFF_arrow10_export.png');"></div>
        </div>
      </div>
      <div class="erimgMain_arrowLeft" style="position:absolute; left: 60px; top: 50%; margin-top: -10px;" data-erconfig="{image:'circleSmall', image2:'circleSmall'}"></div>
      <div class="erimgMain_arrowRight" style="position:absolute; right: 60px; top: 50%; margin-top: -10px;"></div>
    </div>
    <div class="erabout erFixCSS3" style="color: #FFF; text-align: left; background: #000; background:rgba(0,0,0,0.93); border: 2px solid #FFF; padding: 20px; font: normal 11px/14px Verdana,_sans; width: 300px; border-radius: 10px; display:none;"> This <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank">jQuery slider</a> was created with the free <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank">EasyRotator</a> software from DWUser.com. <br />
      <br />
      Use WordPress? The free <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/wordpress/" target="_blank">EasyRotator for WordPress</a> plugin lets you create beautiful <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/wordpress/" target="_blank">WordPress sliders</a> in seconds. <br />
      <br />
      <a style="color:#FFF;" href="#" class="erabout_ok">OK</a> </div>
    <noscript>
      Rotator powered by <a href="http://www.dwuser.com/easyrotator/">EasyRotator</a>, a free and easy jQuery slider builder from DWUser.com.  Please enable JavaScript to view.
    </noscript>
    <script type="text/javascript">/*Avoid IE gzip bug*/(function(b,c,d){try{if(!b[d]){b[d]="temp";var a=c.createElement("script");a.type="text/javascript";a.src="http://easyrotator.s3.amazonaws.com/1/js/nozip/easy_rotator.min.js";c.getElementsByTagName("head")[0].appendChild(a)}}catch(e){alert("EasyRotator fail; contact support.")}})(window,document,"er_$144");</script>
  </div>
</div>
<!-- End DWUser_EasyRotator -->
</div>
</body>
</html>
