@media only screen and (min-width: 1200px)
{

.menu_v  {
	position: absolute;
	width: 100%;
	height: 70px;
	z-index: 1;
	background-color: #996;
}
#apDiv2 {
	position: absolute;
	width: 67px;
	height: 54px;
	z-index: 1;
	left: 18px;
	top: 8px;
	background-color: #F00;
}
.nav {
	position: absolute;
	width: 686px;
	height: 48px;
	z-index: 2;
	left: 207px;
	top: 11px;
	background-color: #FF0;
}
.slider {
	position: absolute;
	width: 100%;
	height: 268px;
	z-index: 2;
	top: 87px;
	background-color: #00F;
}
#apDiv5 {
	position: absolute;
	width: 30%;
	height: 31px;
	z-index: 3;
	left: 428px;
	top: 367px;
}
#FRAME6 {
	position: absolute;
	width: 173px;
	height: 143px;
	z-index: 4;
	left: 224px;
	top: 35px;
	background-color: #FF0;
}
#FRAME7 {
	position: absolute;
	width: 173px;
	height: 140px;
	z-index: 4;
	left: 565px;
	top: 30px;
	background-color: #FF0;
	float: left;
}
#FRAME8 {
	position: absolute;
	width: 173px;
	height: 143px;
	z-index: 4;
	left: 877px;
	top: 32px;
	background-color: #FF0;
}
#FRAME9 {
	position: absolute;
	width: 173px;
	height: 140px;
	z-index: 4;
	left: 226px;
	top: 201px;
	background-color: #FF0;
	float: left;
}
#FRAME10 {
	position: absolute;
	width: 173px;
	height: 143px;
	z-index: 4;
	left: 564px;
	top: 201px;
	background-color: #FF0;
	background-image: url(OIP.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}
#FRAME11 {
	position: absolute;
	width: 173px;
	height: 140px;
	z-index: 4;
	left: 874px;
	top: 205px;
	background-color: #FF0;
	float: left;
}

.fultopic {
	position: absolute;
	background-color: #0FF;
	left: 14px;
	top: 378px;
	width: 100%;
	height: 573px;
}
#apDiv12 {
	position: absolute;
	width: 634px;
	height: 115px;
	z-index: 5;
	left: 433px;
	top: 791px;
	background-color: #0F0;
}
#apDiv1 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 6;
	left: 219px;
	top: 791px;
	background-color: #CCC;
}
#apDiv13 {
	position: absolute;
	width: 633px;
	height: 29px;
	z-index: 1;
}
.footer {
	position: absolute;
	width: 100%;
	height: 333px;
	z-index: 7;
	left: 1px;
	top: 957px;
	background-color: #99F;
}
#apDiv14 {
	position: absolute;
	width: 620px;
	height: 71px;
	z-index: 2;
	top: 40px;
	left: 8px;
}
.logo {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 8;
	left: 1058px;
	top: 28px;
	background-color: #969;
}
#apDiv16 {
	position: absolute;
	width: 486px;
	height: 31px;
	z-index: 8;
	left: -663px;
	top: 87px;
}
.info {
	position: absolute;
	width: 324px;
	height: 216px;
	z-index: 9;
	left: 28px;
	top: 42px;
}
.copyright {
	position: absolute;
	width: 383px;
	height: 35px;
	z-index: 10;
	left: 8px;
	top: 288px;
	background-color: #CCCCCC;
}
.einfo1 {
	position: absolute;
	width: 309px;
	height: 30px;
	z-index: 1;
	left: 6px;
	top: 9px;
}
.einfo2 {
	position: absolute;
	width: 307px;
	height: 32px;
	z-index: 8;
	left: 0px;
	top: 62px;
}
.einfo3 {
	position: absolute;
	width: 311px;
	height: 35px;
	z-index: 2;
	left: 4px;
	top: 125px;
}
#menu {
	position: absolute;
	width: 476px;
	height: 232px;
	z-index: 3;
	left: 368px;
	top: -8px;
}
#search {
	position: absolute;
	width: 306px;
	height: 38px;
	z-index: 8;
	left: 372px;
	top: 4px;
	background-color: #FFF;
}
#apDiv3 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 3;
	left: 181px;
	top: 289px;
}
#img4 {
	position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#img5 {	position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#apDiv6 {	position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#img5 {position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#img6 {
	position: absolute;
	width: 154px;
	height: 121px;

	z-index: 8;
	left: 9px;
	top: 15px;
	background-color: #FFF;
}
#img7 {position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#img8 {position: absolute;
	width: 154px;
	height: 121px;
	z-index: 8;
	left: 7px;
	top: 15px;
	background-color: #FFF;
}
#topic {
	position: absolute;
	width: 970px;
	height: 166px;
	z-index: 5;
	left: 176px;
	top: 385px;
	background-color: #66FFCC;
}
#img {
	position: absolute;
	width: 211px;
	height: 115px;
	z-index: 8;
	left: 157px;
	top: 404px;
}
#apDiv4 {
	position: absolute;
	width: 1010px;
	height: 170px;
	z-index: 8;
	left: 138px;
	top: 383px;
}
#topic-FRAME {
	position: absolute;
	width: 708px;
	height: 156px;
	z-index: 1;
	left: 249px;
	top: 5px;
	background-color: #006699;
}
#imgt {
	position: absolute;
	width: 200px;
	height: 143px;
	z-index: 2;
	left: 34px;
	top: 10px;
	background-color: #CCCCCC;
}
#nav {
	position: absolute;
	width: 350px;
	height: 24px;
	z-index: 8;
	top: 19px;
	left: 7px;
}
#icon1 {
	position: absolute;
	width: 315px;
	height: 21px;
	z-index: 8;
	left: 5px;
	top: 7px;
}
#icon2 {
	position: absolute;
	width: 317px;
	height: 19px;
	z-index: 9;
	left: 5px;
	top: 40px;
}
#icon3 {
	position: absolute;
	width: 321px;
	height: 21px;
	z-index: 10;
	left: 1px;
	top: 73px;
}
.socialposition {
	position: absolute;
	width: 368px;
	height: 132px;
	z-index: 11;
	left: 892px;
	top: 194px;
}
#topicheadline {
	position: absolute;
	width: 680px;
	height: 33px;
	z-index: 1;
}
#text {
	position: absolute;
	width: 683px;
	height: 108px;
	z-index: 2;
	left: 5px;
	top: 40px;
}

}
