<script src="./assets/js/jquery-1.11.0.min.js"></script>
<!-- <script  src="./assets/js/w3slider.js"> </script> -->
<!-- <script src="./assets/js/home.js"></script> -->
<!-- <script src="./assets/js/jqueryslider.js"></script> -->
<script src="./assets/js/bootstrap.bundle.min.js"></script>
<script src="./assets/js/lightslider.js"></script>
<script src="./assets/js/lightbox.min.js"></script>
<script src="./assets/js/SpryAccordion.js"></script>
<script src="./assets/js/SpryCollapsiblePanel.js"></script>
<!-- <script src="./assets/js/swiperslidercard.js"></script> -->
<!-- <script src="../assets/js/swiperslideshow.js"></script> -->
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/wow.min.js"></script>
<!-- <script src="./assets/js/cardslidermain.min.js"></script> -->
<!-- <script src="./assets/js/cardsliderowlcarousel.min.js"></script> -->
 <!-- <script src="./assets/js/vuePV.js"></script>   -->
<!-- <script src="./assets/js/vue.global.js"></script> -->
<!-- <script src="./assets/js/vuperslider.js"></script>  -->
<script src="./assets/js/lightslider.js"></script>
<script src="./assets/js/index.js"></script>




