<article class="cover"  v-if="Imgurl" >
        
        <img    v-bind:src="Imgurl"   class="Image"/>

        <span class="carousel-caption d-none d-md-block " style='text-align: center;  top:50%;  background:unset; box-shadow:unset;'>
                <h1 class="typeeffect" style='-webkit-text-stroke: 1px #000000e8;
                font-size: 95px; overflow:hidden; white-space: nowrap;'>{{title}}</h1>
                <!-- <p class="animated fadeInDown">{{data.largetitle2}}</p> -->
        </span>
</article>
        
<div class="clear" v-if="Imgurl" > </div>

<div class="clear" v-if="Imgurl" > </div>

<br / v-if="Imgurl" >
<br / v-if="Imgurl" >
<br / v-if="Imgurl" >
<br / v-if="Imgurl" >